.background-image-div-outer{
    width: 100%;
    height: 70vh;
    background-color: yellow;
    background-image: url("../../assets/techsupportphoto.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-div-inner {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.591);
    text-align: center;
}

.office-background-image {
    width: 100%;
    height: 100vh;
}

.support-app-tag-line {
    font-size: 3rem;
    color: white;
    letter-spacing: 2px;
    margin-top: 5%;
}

.admin-login-button {
    margin-top: 20px;
    margin-right: 10px;
    width: 10%;
    padding: 0.3%;
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
}

.admin-login-button:hover {
    width: 10%;
    padding: 0.3%;
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}

.customer-login-button {
    margin-left: 10px;
    width: 10%;
    padding: 0.3%;
    border-radius: 8px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.customer-login-button:hover {
    width: 10%;
    padding: 0.3%;
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(227, 227, 227, 0.512);
    color: white;
    cursor: pointer;
}

.app-information-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    margin-top: -100px;
}

.app-information-container-left {
    width: 35%;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 10px;
    padding: 1.5%;
    background-color: white;
    -webkit-box-shadow: 2px 3px 16px 2px rgba(201,201,201,1);
-moz-box-shadow: 2px 3px 16px 2px rgba(201,201,201,1);
box-shadow: 2px 3px 16px 2px rgba(201,201,201,1);
}

.app-information-container-right {
    width: 35%;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 10px;
    padding: 1.5%;
    background-color: white;
    -webkit-box-shadow: 2px 3px 16px 2px rgba(201,201,201,1);
-moz-box-shadow: 2px 3px 16px 2px rgba(201,201,201,1);
box-shadow: 2px 3px 16px 2px rgba(201,201,201,1);
}

.brands-logo-customers{
    display: flex;
    justify-content: space-around;
}

.brands-logo-customers-outer-div  {
    padding: 5%;
}

.customer-logo-brand {
    width: 150px;
    height: 130px;
}

.brand-logo-customers-text {
    text-align: center;
}

.plan-container-div {
    border: 1px solid rgb(129, 129, 129);
    width: 20%;
    text-align: center;
    padding: 2%;
    border-radius: 7px;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(173,173,173,1);
-moz-box-shadow: 10px 10px 5px -5px rgba(173,173,173,1);
box-shadow: 10px 10px 5px -5px rgba(173,173,173,1);
}

.plan-container {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    margin-bottom: 40px;
}

/* footer */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}