<div class="manager-agent-outer-div" ng-controller="agentTickets">
  <!-- <div class="manager-add-agent-div">
    <button class="btn btn-outline-primary">Add Tickets</button>
  </div> -->
  <div class="tickets-stats-div">
    <div class="tickets-stats-box">
      <h5 style="color: blue">Requests</h5>
      <p class="tickets-number">{{length1}}</p>
    </div>
    <div class="tickets-stats-box">
      <h5 style="color: green">Opened</h5>
      <p class="tickets-number">{{length2}}</p>
    </div>
    <div class="tickets-stats-box">
      <h5 style="color: red">Resolved</h5>
      <p class="tickets-number">{{length3}}</p>
    </div>
  </div>
  <div class="tickets-display-div">
    <!-- Not accepted tickets -->
    <div class="tickets-display-div-one">
      <div class="heading-center">
        <h5 style="padding-left: 2%"><strong>Ticket Requets</strong></h5>
      </div>
      <div class="manager-agents-table">
        <div
          class="agents-tickets-container"
          ng-repeat="item in notAcceptedTickets"
        >
          <div class="ticket-div">
            <div class="ticket-details-div">
              <div class="ticket-details-div-left">
                <p class="text-info1">
                  <strong>Ticket Id: </strong> {{item.ticketId}}
                </p>
                <p class="text-info1">
                  <strong>Status:</strong>
                  {{item.status}}
                </p>
                <p class="text-info1">
                  <strong>Subject: </strong>{{item.subject}}
                </p>
                <p class="text-info1"><strong>Query: </strong>{{item.query}}</p>
              </div>
              <div class="ticket-details-div-right">
                <img
                  class="more-option-icon"
                  data-toggle="modal"
                  data-target="#detailModal"
                  ng-click="updateTicketForModal(item.ticketId, item.status, item.agentName, item.subject, item.query, item.createdAt, item.createdByUserName)"
                  src="../../assets/more.png"
                  alt="more-options"
                />
              </div>
            </div>
            <div class="tickets-options-div">
              <img
                class="chat-option-icon"
                data-toggle="modal"
                data-target="#commentModal"
                ng-click="updateTicketDetails(item.ticketId, item.subject, item.query)"
                src="../../assets/icons8-comments-24.png"
                alt="chat-icon"
              />
              <button
                class="btn-outline-success assign-to-agentbutton"
                ng-click="acceptTicketHandler(item.ticketId)"
              >
                Accept
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- InProcess Tickets -->
    <div class="tickets-display-div-two">
      <div class="heading-center">
        <h5 style="padding-left: 2%"><strong>Tickets In Process</strong></h5>
      </div>
      <div class="manager-agents-table">
        <div
          class="agents-tickets-container"
          ng-repeat="item in AcceptedTickets"
        >
          <div class="ticket-div">
            <div class="ticket-details-div">
              <div class="ticket-details-div-left">
                <p class="text-info1">
                  <strong>Ticket Id: </strong> {{item.ticketId}}
                </p>
                <p class="text-info1">
                  <strong>Status:</strong>
                  {{item.status}}
                </p>
                <p class="text-info1">
                  <strong>Subject: </strong>{{item.subject}}
                </p>
                <p class="text-info1"><strong>Query: </strong>{{item.query}}</p>
              </div>
              <div class="ticket-details-div-right">
                <img
                  class="more-option-icon"
                  data-toggle="modal"
                  data-target="#detailModal"
                  ng-click="updateTicketForModal(item.ticketId, item.status, item.agentName, item.subject, item.query, item.createdAt, item.createdByUserName)"
                  src="../../assets/more.png"
                  alt="more-options"
                />
              </div>
            </div>
            <div class="tickets-options-div">
              <img
                class="chat-option-icon"
                data-toggle="modal"
                data-target="#commentModal"
                ng-click="updateTicketDetails(item.ticketId, item.subject, item.query)"
                src="../../assets/icons8-comments-24.png"
                alt="chat-icon"
              />
              <button
                class="btn-outline-primary assign-to-agentbutton"
                data-toggle="modal"
                data-target="#ticketModal"
                ng-click="ticketEditModal(item)"
              >
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resolved Tickets -->
    <div class="tickets-display-div-three">
      <div class="heading-center">
        <h5 style="padding-left: 2%"><strong>Resolved Tickets</strong></h5>
      </div>
      <div class="manager-agents-table">
        <div
          class="agents-tickets-container"
          ng-repeat="item in ResolvedTickets"
        >
          <div class="ticket-div">
            <div class="ticket-details-div">
              <div class="ticket-details-div-left">
                <p class="text-info1">
                  <strong>Ticket Id: </strong> {{item.ticketId}}
                </p>
                <p class="text-info1">
                  <strong>Status:</strong>
                  {{item.status}}
                </p>
                <p class="text-info1">
                  <strong>Subject: </strong>{{item.subject}}
                </p>
                <p class="text-info1"><strong>Query: </strong>{{item.query}}</p>
              </div>
              <div class="ticket-details-div-right">
                <img
                  class="more-option-icon"
                  data-toggle="modal"
                  data-target="#detailModal"
                  ng-click="updateTicketForModal(item.ticketId, item.status, item.agentName, item.subject, item.query, item.createdAt, item.createdByUserName)"
                  src="../../assets/more.png"
                  alt="more-options"
                />
              </div>
            </div>
            <div class="tickets-options-div">
              <img
                class="chat-option-icon"
                data-toggle="modal"
                data-target="#commentModal"
                ng-click="updateTicketDetails(item.ticketId, item.subject, item.query)"
                src="../../assets/icons8-comments-24.png"
                alt="chat-icon"
              />
              <button
                class="btn-outline-success assign-to-agentbutton"
                data-toggle="modal"
                data-target="#ticketModal"
                ng-click="ticketEditModal(item)"
              >
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal more option -->
  <div
    class="modal fade"
    id="detailModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ticket</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="tickets-modal-inner-div">
            <div class="tickets-details-div">
              <p><strong>Ticket Id: </strong> {{ticketId}}</p>
              <p><strong>Status:</strong> {{ticketStatus}}</p>
              <p><strong>Assigned to:</strong> {{assignedTo}}</p>
              <p><strong>Subject:</strong> {{tickedSubject}}</p>
              <p><strong>Query:</strong> {{ticketQuery}}</p>
              <p><strong>Created At:</strong> {{createdAt}}</p>
            </div>
            <div class="tickets-brand-details">
              <p><strong>Created by:</strong> {{createdByUserName}}</p>
              <p><strong>Brand Name:</strong> {{brandName}}</p>
              <p><strong>Brand Id:</strong> {{brandId}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal chat -->
  <div
    class="modal fade"
    id="commentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">comments</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="chat-div">
            <div class="message-div" ng-repeat="item in ticketComments">
              <p class="identity">
                <img
                  class="user-icon-comments"
                  src="../../assets/user-icon.png"
                  alt="usericon"
                /><strong>{{item.sentByUserName}}</strong>
                ({{item.sentByUserType}})
              </p>
              <div class="message">
                <p class="comment-text">{{item.content}}</p>
              </div>
              <div class="date-and-time-div">
                <p class="date-and-time">{{item.dateAndTime}}</p>
              </div>
            </div>
          </div>
          <div class="chat-form-div">
            <form name="myForm" novalidate>
              <input
                class="input-element"
                type="text"
                id="comment"
                name="comment"
                ng-model="comment"
                required
                placeholder="enter comment"
              />
              <br />
              <label ng-show="myForm.$submitted || myForm.comment.$dirty">
                <label
                  ng-model="commentError1"
                  class="error"
                  ng-show="myForm.comment.$error.required"
                  >type something to add comment</label
                >
              </label>
              <br />

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  ng-disabled="myForm.$invalid"
                  ng-click="addcommentHandler(1,0)"
                >
                  Add comment
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Ticket Modal -->
  <div
    class="modal fade"
    id="ticketModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ticketDetails.ticketId}}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="agent-ticket-details-outerdiv">
            <div class="agent-ticket-details-outerdiv-left">
              <div class="agent-ticket-details-outerdiv-left-u">
                <p>
                  <strong>Assignee : </strong>
                  {{ticketDetails.createdByUserName}}
                </p>
                <p>
                  <strong>Assigned To: </strong> {{ticketDetails.agentName}}
                </p>
                <p><strong>Status: </strong> {{ticketDetails.status}}</p>
                <p>Change status:</p>
                <select ng-model="currentStatus">
                  <option value="Accepted">Accepted</option>
                  <option value="inProcess">In Process</option>
                  <option value="resolved">Resolved</option>
                </select>
              </div>
              <div class="agent-ticket-details-outerdiv-left-d">
                <div class="attachmentinput-div-u">
                  <p>
                    <img
                      src="../../assets/icons8-attach-48.png"
                      alt="attach-png"
                      style="height: 17px"
                    />Attachments
                  </p>
                </div>
                <div class="attachmentinput-div-d">
                  <input class="input-file-upload" type="file" />
                  <button class="attachment-upload-button">Upload</button>
                </div>
              </div>
            </div>
            <div class="agent-ticket-details-outerdiv-middle">
              <div class="agent-ticket-details-outerdiv-middle-upper">
                <p><strong>Ticekt Id:</strong> {{ticketDetails.ticketId}}</p>
                <p><strong>Created At: </strong> {{ticketDetails.createdAt}}</p>
                <div class="agent-ticket-details-subject">
                  <p><strong>Subject: </strong>{{ticketDetails.subject}}</p>
                </div>
                <div class="agent-ticket-details-query">
                  <p><strong>Query: </strong>{{ticketDetails.query}}</p>
                </div>
                <div class="agent-ticket-details-comment-div"></div>
              </div>
              <div class="agent-ticket-details-logs">
                <p><strong>Ticket Logs</strong></p>
                <div>
                  <ul style="margin-left: 17px">
                    <li ng-repeat="items in logs">{{items.message}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="agent-ticket-details-outerdiv-right">
              <div class="agent-ticket-details-outerdiv-right-body">
                <!-- <div class="chat-div"> -->
                <div class="message-div" ng-repeat="item in ticketComments">
                  <p class="identity">
                    <img
                      class="user-icon-comments"
                      src="../../assets/user-icon.png"
                      alt="usericon"
                    /><strong>{{item.sentByUserName}}</strong>
                    ({{item.sentByUserType}})
                  </p>
                  <div class="message">
                    <p class="comment-text">{{item.content}}</p>
                  </div>
                  <div class="date-and-time-div">
                    <p class="date-and-time">{{item.dateAndTime}}</p>
                  </div>
                </div>
                <!-- </div> -->
              </div>
              <div class="agent-ticket-details-outerdiv-footer">
                <input
                  class="add-comment-ticket-input"
                  type="text"
                  placeholder="type commet..."
                  ng-model="detailsComment"
                />
                <button
                  class="add-comment-ticket-button"
                  ng-click="addcommentHandler(0,1)"
                >
                  Comment
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            ng-click="statusChangeHandler()"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
