<div class="brandAdmin-outer-div" ng-controller="brandAgents">
  <!-- NAVBAR -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand navbar-logo" href="#">
      <img
        src="https://w7.pngwing.com/pngs/4/758/png-transparent-computer-icons-social-media-facebook-technical-support-blue-team-logo-thumbnail.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      TechSupport
    </a>
    <div class="toggle-div-options">
      <p class="online-offline-text">{{onlineStatus}}</p>
      <label class="switch">
        <input type="checkbox" checked ng-click="toggleHandler()" />
        <span class="slider round"></span>
      </label>
      <img
        class="notification-img"
        src="../../assets/notification.png"
        alt="notification-icon"
        data-toggle="modal"
        data-target="#notificationModal"
      />
      <div class="notification-bell-number">{{notificationLenght}}</div>
      <button
        class="btn-outline-primary manager-logout-button"
        ng-click="logout()"
      >
        Logout
      </button>
    </div>
  </nav>
  <div class="component-body">
    <!-- SIDEBAAR -->
    <div class="component-left-div">
      <div class="brand-logo-div">
        <div class="brand-logo">
          <img
            class="brand-logo-png"
            src="{{brandlogo}}"
            alt="brand-logo-png"
          />
        </div>
        <div class="brand-name">
          <h5>{{brandName}}</h5>
        </div>
      </div>
      <button
        ui-sref=".agenttickets"
        class="{{classname1}}"
        ng-click="handleActiveButton(1)"
      >
        Tickets
      </button>
      <button
        ui-sref=".rejectedtickets"
        class="{{classname2}}"
        ng-click="handleActiveButton(2)"
      >
        Rejected Tickets
      </button>
      <button
        ui-sref=".closedtickets"
        class="{{classname3}}"
        ng-click="handleActiveButton(3)"
      >
        Closed Tickets
      </button>
    </div>
    <div class="component-right-div">
      <div class="component-right-div-upper">
        <div class="brand-admin-div">
          <div class="agent-details-div">
            <div class="agent-photo">
              <img
                src="{{brandAgentDetails.profileImage}}"
                alt="agent-photo-png"
                class="agent-photo-png"
              />
            </div>
            <div class="agent-details">
              <h6>
                <strong>User name :</strong> {{brandAgentDetails.userName}}
              </h6>
              <h6>
                <strong>Name :</strong> {{brandAgentDetails.name.firstName}}
                {{brandAgentDetails.name.lastName}}
              </h6>
              <h6><strong>Email :</strong> {{brandAgentDetails.email}}</h6>
            </div>
          </div>
        </div>
        <div class="agent-brand-details">
          <div class="agent-brand-details-inner-div">
            <h6>
              <strong>BrandName: </strong>{{brandAgentDetails.brand.name}}
            </h6>
            <h6><strong>Email: </strong>{{brandAgentDetails.brand.email}}</h6>
            <h6>
              <strong>Phone number: </strong
              >{{brandAgentDetails.brand.phoneNumber}}
            </h6>
            <h6>
              <strong>Brand Categoty: </strong
              >{{brandAgentDetails.brand.category}}
            </h6>
            <h6>
              <strong>Address: </strong>{{brandAgentDetails.brand.address}}
            </h6>
          </div>
        </div>
      </div>
      <div class="agent-tickets-table-div" ui-view></div>
    </div>
  </div>
  <!-- Notification Modal -->
  <div
    class="modal fade"
    id="notificationModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="agent-notification-div">
            <div
              class="agent-notification-msg-div"
              ng-repeat="item in agentNotification"
            >
              <p>
                <input
                  type="checkbox"
                  style="width: 30px"
                  height="width: 30px"
                  ng-click="markSeen(item._id);"
                />{{item.message}}
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            ng-click="markAllNotSeen()"
          >
            Mark All As Seen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
