<div class="brand-admin-manager-div" ng-controller="manager">
  <div class="add-manager-div">
    <button
      class="btn btn-outline-primary"
      data-toggle="modal"
      data-target="#addManagerModal"
    >
      Add Manager
    </button>
    <button
      class="btn btn-outline-primary"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Search Manager
    </button>
    <div class="collapse" id="collapseExample">
      <div class="manager-search-input-div">
        <input
          class="manager-search-input"
          type="text"
          placeholder="type manager name"
          ng-model="searchManagerName"
          ng-change="onChangeHandler()"
        />
      </div>
    </div>
  </div>
  <div class="current-manager-div">
    <h2>Current Managers</h2>
    <table>
      <tr>
        <th>Profile</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Details</th>
        <th>Disable</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="item in currentManagers">
        <td>
          <img
            style="height: 100px; width: 100px; padding: 5px"
            src="{{item.profileImage}}"
            alt="profile-img"
          />
        </td>
        <td>{{item.userName}}</td>
        <td>{{item.email}}</td>
        <td>
          <button
            class="btn btn-success"
            data-toggle="modal"
            data-target="#ManagerDetailsModal"
            ng-click="managerDetailsupdate(item)"
          >
            Details
          </button>
        </td>
        <td>
          <button class="btn btn-warning">Disable</button>
        </td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </table>
  </div>

  <!-- MODALS -->
  <!-- ADD MANAGER MODALS -->
  <div
    class="modal fade"
    id="addManagerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- form -->
          <form name="myForm" novalidate>
            <input
              class="input-element"
              type="email"
              id="email"
              name="email"
              ng-model="managerEmail"
              required
              ng-pattern="emailRegex"
              placeholder="Enter email"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.email.$dirty">
              <label
                ng-model="emailError1"
                class="error"
                ng-show="myForm.email.$error.required"
                >Email is required</label
              >
              <label
                ng-model="emailError2"
                class="error"
                ng-show="myForm.email.$error.pattern"
                >Email is not valid</label
              >
            </label>
            <br />

            <input
              class="input-element"
              type="text"
              name="name"
              id="name"
              ng-model="managerName"
              required
              placeholder="Enter name"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.name.$dirty">
              <span
                ng-model="nameError"
                class="error"
                ng-show="myForm.name.$error.required"
                >Name is required</span
              ><br />
            </label>
            <br />

            <input
              class="input-element"
              type="password"
              id="password"
              name="password"
              ng-model="password"
              ng-pattern="passwordRegex"
              required
              placeholder="confirm passsword"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.password.$dirty">
              <span
                ng-model="passsError1"
                class="error"
                ng-show="myForm.password.$error.required"
                >Password is required</span
              ><br />
            </label>
            <br />

            <span for="logoimage">Upload profile photo:</span>
            <input
              class="input-element"
              type="file"
              required
              name="logoimage"
              file-model="formData.image"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.logoimage.$dirty">
              <span
                ng-model="passsError1"
                class="logoimage"
                ng-show="myForm.logoimage.$error.required"
                >Logo is required</span
              ><br />
            </label>
            <br />

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                ng-disabled="myForm.$invalid"
                ng-click="addBrandManager()"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- MANAGER DETAILS MODALS -->
  <div
    class="modal fade"
    id="ManagerDetailsModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Manager Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="manager-details-modal-div">
            <div class="manager-details-modal-div-up">
              <div class="manager-details-modal-div-up-left">
                <img
                  style="width: 150px"
                  src="{{ManagerDetail.profileImage}}"
                  alt="manager-photo"
                />
              </div>
              <div class="manager-details-modal-div-right">
                <p><strong>Name: </strong>{{ManagerDetail.userName}}</p>
                <p><strong>Email: </strong>{{ManagerDetail.email}}</p>
                <p><strong>Role: </strong>Manager</p>
              </div>
            </div>
            <hr />
            <div class="manager-details-modal-div-down">
              <div>
                <h6 style="letter-spacing: 2px; font-weight: bold">
                  BRAND DETAILS
                </h6>
              </div>
              <div>
                <p><strong>Brand Name: </strong>{{ManagerDetail.brand.name}}</p>
                <p>
                  <strong>Brand Email: </strong>{{ManagerDetail.brand.email}}
                </p>
                <p>
                  <strong>Brand Id: </strong>{{ManagerDetail.brand.brandId}}
                </p>
                <p>
                  <strong>Brand Category: </strong
                  >{{ManagerDetail.brand.category}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
