.add-manager-div {
    padding: 2%;
}

.current-manager-div {
    padding: 0% 2% 2% 2%;
}

.manager-search-input-div {
    margin-top: 20px;
    padding: 1% 0 1% 0;
}

.manager-search-input {
    width: 30%;
    height: 40px;
}

.manager-details-modal-div {
    padding: 2%;
}

.manager-details-modal-div-up {
    display: flex;
}

.manager-details-modal-div-up-left {
    width: 40%;
}

.manager-details-modal-div-right {
    width: 60%;
}

.paginations-button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
    margin-top: 20px;
}

.pagination-button-bg {
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.first-last-btn {
    margin-left: 10px;
    margin-right: 10px;
}

.nxt-prev-btn {
    margin: 0 5px 0 5px;
}

.btw-btn {
    margin: 0 3px 0 3px;
    padding: 0 2px 0 2px;
}