<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand navbar-logo" href="#">
    <img
      src="https://w7.pngwing.com/pngs/4/758/png-transparent-computer-icons-social-media-facebook-technical-support-blue-team-logo-thumbnail.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    TechSupport
  </a>
</nav>
<div class="no-access-div">
  <img
    src="/frontend/assets/no-access.png"
    class="no-access-png"
    alt="no-access-png"
  />
</div>
