<div class="manager-agent-outer-div" ng-controller="ManagerAgents">
  <div class="manager-add-agent-div">
    <button
      class="btn btn-outline-primary"
      data-toggle="modal"
      data-target="#addAgentModal"
    >
      Add Agents
    </button>
    <button class="btn btn-outline-primary" ng-click="openNav()">
      Search Agent
    </button>
  </div>
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">×</a>
    <div class="sidebar-search-option">
      <input type="text" placeholder="enter agent username" />
      <button>Search</button>
    </div>
  </div>
  <div class="manager-agents-table">
    <table>
      <tr>
        <th>Profile</th>
        <th>Name</th>
        <th>Email</th>
        <th>details</th>
        <th>Upgrade</th>
        <th>Disable</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="item in agents">
        <td>
          <img
            style="height: 100px; width: 100px; padding: 5px"
            src="{{item.profileImage}}"
            alt="profile-img"
          />
        </td>
        <td>{{item.userName}}</td>
        <td>{{item.email}}</td>
        <td><button class="btn btn-outline-success">Details</button></td>
        <td><button class="btn btn-success">Upgrade</button></td>
        <td><button class="btn btn-warning">Disable</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </table>
  </div>
  <!-- MODALS -->
  <!-- ADD AGENT MODALS -->
  <div
    class="modal fade"
    id="addAgentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- form -->
          <form name="myForm" novalidate>
            <input
              class="input-element"
              type="email"
              id="email"
              name="email"
              ng-model="agentEmail"
              required
              ng-pattern="emailRegex"
              placeholder="Enter email"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.email.$dirty">
              <label
                ng-model="emailError1"
                class="error"
                ng-show="myForm.email.$error.required"
                >Email is required</label
              >
              <label
                ng-model="emailError2"
                class="error"
                ng-show="myForm.email.$error.pattern"
                >Email is not valid</label
              >
            </label>
            <br />

            <input
              class="input-element"
              type="text"
              name="name"
              id="name"
              ng-model="agentName"
              required
              placeholder="Enter name"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.name.$dirty">
              <span
                ng-model="nameError"
                class="error"
                ng-show="myForm.name.$error.required"
                >Name is required</span
              ><br />
            </label>
            <br />

            <input
              class="input-element"
              type="password"
              id="password"
              name="password"
              ng-model="password"
              ng-pattern="passwordRegex"
              required
              placeholder="confirm passsword"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.password.$dirty">
              <span
                ng-model="passsError1"
                class="error"
                ng-show="myForm.password.$error.required"
                >Password is required</span
              ><br />
            </label>
            <br />

            <span for="logoimage">Upload profile photo:</span>
            <input
              class="input-element"
              type="file"
              required
              name="logoimage"
              file-model="formData.image"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.logoimage.$dirty">
              <span
                ng-model="passsError1"
                class="logoimage"
                ng-show="myForm.logoimage.$error.required"
                >Logo is required</span
              ><br />
            </label>
            <br />

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                ng-disabled="myForm.$invalid"
                ng-click="addBrandAgent()"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
