<div class="manager-agent-outer-div" ng-controller="ManagerAgents">
  <div class="manager-add-agent-div">
    <button
      class="btn btn-outline-primary"
      data-toggle="modal"
      data-target="#addAgentModal"
    >
      Add Agents
    </button>
    <button class="btn btn-outline-primary" ng-click="openNav()">
      Search Agent
    </button>
  </div>
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">×</a>
    <div class="sidebar-search-option">
      <div class="sidebar-search-option-input-div">
        <input
          type="text"
          ng-model="searchAgentName"
          placeholder="enter agent username"
          ng-change="onChangeHandler()"
        />
      </div>
      <div class="sidebar-search-option-table-div">
        <table>
          <tr>
            <th>Profile</th>
            <th>Name</th>
            <th>Details</th>
            <th>Status</th>
            <th>Delete</th>
          </tr>
          <tr ng-repeat="item in searchAgentDetails">
            <td style="padding: 0.2%">
              <img
                src="{{item.profileImage}}"
                alt="profile-image"
                style="height: 30px"
              />
            </td>
            <td>{{item.userName}}</td>
            <td>
              <button
                class="btn btn-outline-success"
                data-toggle="modal"
                data-target="#AgentDetailsModal"
                ng-click="AgentDetailsUpdate(item, disableString)"
              >
                Details
              </button>
            </td>
            <td>
              <button
                ng-if="!item.isDisabled"
                class="btn btn-warning"
                data-toggle="modal"
                data-target="#disableModal"
                ng-click="AgentDetailsUpdate(item, disableString)"
              >
                Disable
              </button>
              <button
                ng-if="item.isDisabled"
                type="button"
                class="btn btn-primary"
                ng-click="AgentDetailsUpdate(item, enableString)"
                data-toggle="modal"
                data-target="#disableModal"
              >
                Activate
              </button>
            </td>
            <td>
              <button
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#deleteModal"
                ng-click="AgentDetailsUpdate(item, disableString)"
              >
                Delete
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="manager-agents-table">
    <table>
      <tr>
        <th>Profile</th>
        <th>Name</th>
        <th>Email</th>
        <th>details</th>
        <th>Update</th>
        <th>Disable</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="item in agents">
        <td>
          <img
            style="height: 100px; width: 100px; padding: 5px"
            src="{{item.profileImage}}"
            alt="profile-img"
          />
        </td>
        <td>{{item.userName}}</td>
        <td>{{item.email}}</td>
        <td>
          <button
            class="btn btn-outline-success"
            data-toggle="modal"
            data-target="#AgentDetailsModal"
            ng-click="AgentDetailsUpdate(item, disableString)"
          >
            Details
          </button>
        </td>
        <td>
          <button
            class="btn btn-success"
            data-toggle="modal"
            data-target="#updateModal"
            ng-click="AgentDetailsUpdate(item, disableString)"
          >
            Update
          </button>
        </td>
        <td>
          <button
            ng-if="!item.isDisabled"
            class="btn btn-warning"
            data-toggle="modal"
            data-target="#disableModal"
            ng-click="AgentDetailsUpdate(item, disableString)"
          >
            Disable
          </button>
          <button
            ng-if="item.isDisabled"
            type="button"
            class="btn btn-primary"
            ng-click="AgentDetailsUpdate(item, enableString)"
            data-toggle="modal"
            data-target="#disableModal"
          >
            Activate
          </button>
        </td>
        <td>
          <button
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#deleteModal"
            ng-click="AgentDetailsUpdate(item, disableString)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
    <div class="paginations-button-div">
      <button
        ng-click="getAgentData(1, pageSize)"
        class="btn-primary pagination-button-bg first-last-btn"
      >
        First
      </button>
      <button
        ng-click="getAgentData(pageNumber - 1, pageSize)"
        ng-disabled="pageNumber == 1"
        class="btn-outline-primary pagination-button-bg nxt-prev-btn"
      >
        Previous
      </button>
      <button
        ng-repeat="page in getPages()"
        ng-click="getAgentData(page, pageSize)"
        class="btn-outline-primary btw-btn"
      >
        {{page}}
      </button>
      <button
        ng-click="getAgentData(pageNumber + 1, pageSize)"
        ng-disabled="pageNumber == lastPage"
        class="btn-outline-primary pagination-button-bg nxt-prev-btn"
      >
        Next
      </button>
      <button
        ng-click="getAgentData(lastPage, pageSize)"
        class="btn-primary pagination-button-bg first-last-btn"
      >
        Last
      </button>
    </div>
  </div>
  <!-- MODALS -->
  <!-- ADD AGENT MODALS -->
  <div
    class="modal fade"
    id="addAgentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Agent</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- form -->
          <form name="myForm" novalidate>
            <input
              class="input-element"
              type="email"
              id="email"
              name="email"
              ng-model="user.email"
              required
              ng-pattern="emailRegex"
              placeholder="Enter email"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.email.$dirty">
              <label
                ng-model="emailError1"
                class="error"
                ng-show="myForm.email.$error.required"
                >Email is required</label
              >
              <label
                ng-model="emailError2"
                class="error"
                ng-show="myForm.email.$error.pattern"
                >Email is not valid</label
              >
            </label>
            <br />

            <input
              class="input-element"
              type="text"
              name="name"
              id="name"
              ng-model="user.userName"
              required
              placeholder="Enter name"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.name.$dirty">
              <span
                ng-model="nameError"
                class="error"
                ng-show="myForm.name.$error.required"
                >Name is required</span
              ><br />
            </label>
            <br />

            <input
              class="input-element"
              type="text"
              name="firstName"
              id="firstName"
              ng-model="user.firstName"
              required
              placeholder="Enter first name"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.firstName.$dirty">
              <span
                ng-model="firstNameError"
                class="error"
                ng-show="myForm.firstName.$error.required"
                >First Name is required</span
              ><br />
            </label>
            <br />

            <input
              class="input-element"
              type="text"
              name="lastName"
              id="lastName"
              ng-model="user.lastName"
              required
              placeholder="Enter last name"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.lastName.$dirty">
              <span
                ng-model="lastNameError"
                class="error"
                ng-show="myForm.lastName.$error.required"
                >Last Name is required</span
              ><br />
            </label>
            <br />

            <span for="logoimage">Upload profile photo:</span>
            <input
              class="input-element"
              type="file"
              required
              name="logoimage"
              file-model="formData.image"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.logoimage.$dirty">
              <span
                ng-model="passsError1"
                class="logoimage"
                ng-show="myForm.logoimage.$error.required"
                >Logo is required</span
              ><br />
            </label>
            <br />

            <input
              class="input-element"
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              ng-model="user.phoneNumber"
              ng-minlength="10"
              ng-maxlength="10"
              required
              placeholder="Enter phone number"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.phoneNumber.$dirty">
              <label
                ng-model="phoneError1"
                class="error"
                ng-show="myForm.phoneNumber.$error.required"
                >Phone Number is required</label
              >
              <label
                ng-model="phoneError2"
                class="error"
                ng-show="((myForm.phoneNumber.$error.minlength || myForm.phoneNumber.$error.maxlength) && myForm.phoneNumber.$dirty)"
                >Phone Number should be of 10 digits</label
              >
            </label>
            <br />

            <input
              class="input-element"
              type="password"
              id="password"
              name="password"
              ng-model="user.password"
              ng-pattern="passwordRegex"
              required
              placeholder="confirm passsword"
            />
            <br />
            <label ng-show="myForm.$submitted || myForm.password.$dirty">
              <span
                ng-model="passsError1"
                class="error"
                ng-show="myForm.password.$error.required"
                >Password is required</span
              ><br />
            </label>
            <br />

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                ng-disabled="myForm.$invalid"
                ng-show="!buttonBool"
                ng-click="addBrandAgent()"
              >
                Submit
              </button>
              <button
                type="button"
                class="btn btn-primary"
                ng-disabled="true"
                ng-show="buttonBool"
              >
                Submitting
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Agent DETAILS MODALS -->
  <div
    class="modal fade"
    id="AgentDetailsModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agent Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="manager-details-modal-div">
            <div class="manager-details-modal-div-up">
              <div class="manager-details-modal-div-up-left">
                <img
                  style="width: 150px"
                  src="{{agentDeatilsForUpdates.profileImage}}"
                  alt="manager-photo"
                />
              </div>
              <div class="manager-details-modal-div-right">
                <p>
                  <strong>Name: </strong>{{agentDeatilsForUpdates.userName}}
                </p>
                <p><strong>Email: </strong>{{agentDeatilsForUpdates.email}}</p>
                <p><strong>Role: </strong>Agent</p>
              </div>
            </div>
            <hr />
            <div class="manager-details-modal-div-down">
              <div>
                <h6 style="letter-spacing: 2px; font-weight: bold">
                  BRAND DETAILS
                </h6>
              </div>
              <div>
                <p>
                  <strong>Brand Name: </strong
                  >{{agentDeatilsForUpdates.brand.name}}
                </p>
                <p>
                  <strong>Brand Email: </strong
                  >{{agentDeatilsForUpdates.brand.email}}
                </p>
                <p>
                  <strong>Brand Id: </strong
                  >{{agentDeatilsForUpdates.brand.brandId}}
                </p>
                <p>
                  <strong>Brand Category: </strong
                  >{{agentDeatilsForUpdates.brand.category}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- DESABLE MANAGER MODAL -->
  <div
    class="modal fade"
    id="disableModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{process}} Agent</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <h5>
              Press confirm to {{process}}
              <strong>{{agentDeatilsForUpdates.userName}}</strong>
            </h5>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            ng-click="disableAgent(process)"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- DELETE Agent MODAL -->
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Manager</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <h5>
              Press confirm to delete
              <strong>{{agentDeatilsForUpdates.userName}}</strong>
            </h5>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            ng-click="deleteAgent()"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Update Agent MODAL -->
  <div
    class="modal fade"
    id="updateModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Update Agent Details
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <div>
            <div>
              <input
                type="email"
                placeholder="enter email"
                ng-model="updatedEmail"
              />
              <button>Update Email</button>
            </div> -->
          <div>
            <input
              type="text"
              placeholder="enter name"
              ng-model="updatedName"
            />
            <button ng-click="updateAgentName()">{{updateText}}</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
