<div class="manager-agent-outer-div" ng-controller="ClosedTickets">
  <div class="manager-agents-table">
    <div class="agents-tickets-container" ng-repeat="item in tickets">
      <div class="ticket-div">
        <div class="ticket-details-div">
          <div class="ticket-details-div-left">
            <p class="text-info1">
              <strong>Ticket Id: </strong> {{item.ticketId}}
            </p>
            <p class="text-info1">
              <strong>Status:</strong>
              {{item.status}}
            </p>
            <p class="text-info1"><strong>Subject: </strong>{{item.subject}}</p>
            <p class="text-info1"><strong>Query: </strong>{{item.query}}</p>
          </div>
          <div class="ticket-details-div-right">
            <img
              class="more-option-icon"
              data-toggle="modal"
              data-target="#detailModal"
              src="../../assets/more.png"
              ng-click="updateTicketDetailsForModal(item.ticketId, item.status, item.agentName, item.subject, item.query, item.createdAt, item.createdByUserName, item.brandName, item.brandId)"
              alt="more-options"
            />
          </div>
        </div>
        <div class="tickets-options-div">
          <img
            class="chat-option-icon"
            data-toggle="modal"
            data-target="#commentModal"
            ng-click="getTicketComments(item.ticketId, item.status, item.agentName, item.subject, item.query, item.createdAt, item.createdByUserName, item.brandName, item.brandId, item.agentUserId)"
            src="../../assets/icons8-comments-24.png"
            alt="chat-icon"
          />
          <button
            ng-if="item.status == Created"
            class="btn-outline-primary assign-to-agentbutton"
            data-toggle="modal"
            data-target="#exampleModalCenter"
            ng-click="loadAgents(item.ticketId, 1, 5)"
          >
            Assign
          </button>
          <button
            ng-if="item.status != Created"
            class="btn-outline-primary assign-to-agentbutton"
            data-toggle="modal"
            data-target="#ticketModal"
            ng-click="updateTicketDetailsDashboard(item)"
          >
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Ticket Dashboard Modal -->
  <div
    class="modal fade"
    id="ticketModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ticketDetails.ticketId}}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="agent-ticket-details-outerdiv">
            <div class="agent-ticket-details-outerdiv-left">
              <div class="agent-ticket-details-outerdiv-left-u">
                <p>
                  <strong>Assignee : </strong>
                  {{ticketDetails.createdBy.name}}
                </p>
                <p>
                  <strong>Assigned To: </strong> {{ticketDetails.agent.name}}
                </p>
                <p><strong>Status: </strong> {{ticketDetails.status}}</p>
                <p><strong>Change status:</strong>{{ticketDetails.status}}</p>
                <select ng-model="currentStatus" ng-disabled="true">
                  <option value="inProcess">In Process</option>
                  <option value="resolved">Resolved</option>
                  <option value="closed">Closed</option>
                </select>
              </div>
              <div class="agent-ticket-details-outerdiv-left-d">
                <div class="attachmentinput-div-u">
                  <p>
                    <img
                      src="../../assets/icons8-attach-48.png"
                      alt="attach-png"
                      style="height: 17px"
                    />Attachments
                  </p>
                </div>
                <div class="file-div" style="height: 100%; overflow-y: scroll">
                  <ul style="margin-left: 10px">
                    <li
                      ng-repeat="item in files"
                      style="font-size: small; margin-bottom: 10px"
                    >
                      <button
                        style="height: 25px; width: 40px; cursor: pointer"
                        data-toggle="modal"
                        data-target="#fileModal"
                        ng-click="updateForFileModal(item)"
                      >
                        view
                      </button>
                      <strong>{{item.addedBy.name}}</strong>
                    </li>
                  </ul>
                </div>
                <div class="attachmentinput-div-d">
                  <input class="input-file-upload" type="file" />
                  <button class="attachment-upload-button" ng-disabled="true">
                    Upload
                  </button>
                </div>
              </div>
            </div>
            <div class="agent-ticket-details-outerdiv-middle">
              <div class="agent-ticket-details-outerdiv-middle-upper">
                <p><strong>Ticekt Id:</strong> {{ticketDetails.ticketId}}</p>
                <p><strong>Created At: </strong> {{ticketDetails.createdAt}}</p>
                <div class="agent-ticket-details-subject">
                  <p>
                    <strong>Subject: </strong>
                    {{ticketDetails.createdBy.createdAt}}
                  </p>
                </div>
                <div class="agent-ticket-details-query">
                  <p><strong>Query: </strong>{{ticketDetails.query}}</p>
                </div>
                <div class="agent-ticket-details-comment-div"></div>
              </div>
              <div class="agent-ticket-details-logs">
                <p><strong>Ticket Logs</strong></p>
                <div>
                  <ul style="margin-left: 17px">
                    <li ng-repeat="items in logs">{{items.message}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="agent-ticket-details-outerdiv-right">
              <div class="agent-ticket-details-outerdiv-right-body">
                <!-- <div class="chat-div"> -->
                <div class="message-div" ng-repeat="item in ticketComments">
                  <p class="identity">
                    <img
                      class="user-icon-comments"
                      src="../../assets/user-icon.png"
                      alt="usericon"
                    /><strong>{{item.sentBy.userName}}</strong>
                    ({{item.sentBy.type}})
                  </p>
                  <div class="message">
                    <p class="comment-text">{{item.content}}</p>
                  </div>
                  <div class="date-and-time-div">
                    <p class="date-and-time">{{item.time}}</p>
                  </div>
                </div>
                <!-- </div> -->
              </div>
              <div class="agent-ticket-details-outerdiv-footer">
                <input
                  class="add-comment-ticket-input"
                  type="text"
                  placeholder="type commet..."
                  ng-model="detailsComment"
                  ng-disabled="true"
                />
                <button
                  class="add-comment-ticket-button"
                  ng-click="commentDashboardHandler()"
                  ng-disabled="true"
                >
                  Comment
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            ng-click="statusChangeHandler()"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
