<div class="superadmin-brand-div" ng-controller="inActiveBrand">
  <div class="superadmin-add-brand-div">
    <button
      class="btn btn-outline-primary"
      data-toggle="modal"
      data-target="#addBrandModal"
    >
      Add Brand
    </button>
  </div>

  <div class="superadmin-current-brand-div">
    <!-- BRAND TABLE -->
    <div class="brand-no-admin-div">
      <h5><strong>Brands With No Admin</strong></h5>
      <table>
        <tr>
          <th>Brand Logo</th>
          <th>Brand Id</th>
          <th>Brand Name</th>
          <th>Add Admin</th>
          <th>Disable</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat="item in currentBrandsWithNoAdmin">
          <td>
            <img class="logoimage" src="{{item.brandLogo}}" alt="brand-logo" />
          </td>
          <td>{{item.brandId}}</td>
          <td>{{item.name}}</td>
          <td>
            <button
              type="button"
              class="btn btn-outline-success"
              data-toggle="modal"
              data-target="#addBrandAdminModal"
              ng-click="updateBrandScopes(item)"
            >
              Add Admin
            </button>
          </td>
          <td>
            <button
              ng-if="!item.isDisabled"
              type="button"
              class="btn btn-warning"
              data-toggle="modal"
              data-target="#disableModal"
              ng-click="updateAndDelete(item.brandId, item.name, disableString)"
            >
              Disable
            </button>
            <button
              ng-if="item.isDisabled"
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#disableModal"
              ng-click="updateAndDelete(item.brandId, item.name, enableString)"
            >
              Enable
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              data-toggle="modal"
              data-target="#deleteModal"
              ng-click="updateAndDelete(item.brandId, item.name, null)"
            >
              Delete
            </button>
          </td>
        </tr>
      </table>
      <div class="paginations-button-div">
        <button
          ng-click="getInActiveBrands(1, pageSize)"
          class="btn-primary pagination-button-bg first-last-btn"
        >
          First
        </button>
        <button
          ng-click="getInActiveBrands(pageNumber - 1, pageSize)"
          ng-disabled="pageNumber == 1"
          class="btn-outline-primary pagination-button-bg nxt-prev-btn"
        >
          Previous
        </button>
        <button
          ng-repeat="page in getPages()"
          ng-click="getInActiveBrands(page, pageSize)"
          class="btn-outline-primary btw-btn"
        >
          {{page}}
        </button>
        <button
          ng-click="getInActiveBrands(pageNumber + 1, pageSize)"
          ng-disabled="pageNumber == lastPage"
          class="btn-outline-primary pagination-button-bg nxt-prev-btn"
        >
          Next
        </button>
        <button
          ng-click="getInActiveBrands(lastPage, pageSize)"
          class="btn-primary pagination-button-bg first-last-btn"
        >
          Last
        </button>
      </div>
    </div>

    <!-- ADD BRAND MODAL -->
    <div
      class="modal fade"
      id="addBrandModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Brand</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form name="myForm1" novalidate>
              <input
                class="input-element"
                type="email"
                id="email"
                name="email"
                ng-model="brand.email"
                required
                ng-pattern="emailRegex"
                placeholder="Enter email"
                style="width: 70%"
              />
              <br />
              <label ng-show="myForm1.$submitted || myForm1.email.$dirty">
                <label
                  ng-model="emailError1"
                  class="error"
                  ng-show="myForm1.email.$error.required"
                  >Email is required</label
                >
                <label
                  ng-model="emailError2"
                  class="error"
                  ng-show="myForm1.email.$error.pattern"
                  >Email is not valid</label
                >
              </label>
              <br />

              <input
                class="input-element"
                type="text"
                name="name"
                id="name"
                ng-model="brand.name"
                required
                placeholder="Enter name"
                style="width: 70%"
              />
              <br />
              <label ng-show="myForm1.$submitted || myForm1.name.$dirty">
                <span
                  ng-model="nameError"
                  class="error"
                  ng-show="myForm1.name.$error.required"
                  >Name is required</span
                ><br />
              </label>
              <br />

              <!-- category -->
              <span for="category">Choose a category:</span>
              <select
                name="category"
                id="category"
                ng-model="brand.category"
                ng-required="true"
                style="width: 36%"
              >
                <option value="Food">Food</option>
                <option value="Corporate">Corporate</option>
                <option value="Banking">Banking</option>
                <option value="Aviation">Aviation</option>
                <option value="Private">Private</option>
                <option value="Sports">Sports</option>
                <option value="Transport">Transport</option>
                <option value="Others">Others</option>
              </select>
              <br />
              <label>
                <span
                  ng-model="categoryError1"
                  class="category"
                  ng-show="myForm1.category.$error.required"
                  >Select Category</span
                ><br />
              </label>
              <br />

              <span for="logoimage">Upload logo:</span>
              <input
                class="input-element"
                type="file"
                required
                name="logoimage"
                file-model="formData.image"
              />
              <br />
              <label ng-show="myForm1.$submitted || myForm1.logoimage.$dirty">
                <span
                  ng-model="passsError1"
                  class="logoimage"
                  ng-show="myForm1.logoimage.$error.required"
                  >Logo is required</span
                ><br />
              </label>
              <br />

              <input
                class="input-element"
                type="text"
                id="phoneNumber"
                name="phoneNumber"
                ng-model="brand.phoneNumber"
                ng-minlength="10"
                ng-maxlength="10"
                required
                placeholder="Enter phone number"
                style="width: 70%"
              />
              <br />
              <label ng-show="myForm1.$submitted || myForm1.phoneNumber.$dirty">
                <label
                  ng-model="phoneError1"
                  class="error"
                  ng-show="myForm1.phoneNumber.$error.required"
                  >Phone Number is required</label
                >
                <label
                  ng-model="phoneError2"
                  class="error"
                  ng-show="((myForm1.phoneNumber.$error.minlength || myForm1.phoneNumber.$error.maxlength) && myForm1.phoneNumber.$dirty)"
                  >Phone Number should be of 10 digits</label
                >
              </label>
              <br />

              <input
                class="input-element"
                type="text"
                name="address"
                id="address"
                ng-model="brand.address"
                required
                placeholder="Enter address"
                style="width: 70%"
              />
              <br />
              <label ng-show="myForm1.$submitted || myForm1.address.$dirty">
                <span
                  ng-model="nameError"
                  class="error"
                  ng-show="myForm1.address.$error.required"
                  >Address is required</span
                ><br />
              </label>
              <br />
              <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  ng-disabled="myForm1.$invalid"
                  ng-show="submitString"
                  ng-click="signupSubmit()"
                >
                  Submit
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  ng-disabled="true"
                  ng-show="!submitString"
                  ng-click="signupSubmit()"
                >
                  Submitting
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ADD BRAND ADMIN MODAL -->
    <div
      class="modal fade"
      id="addBrandAdminModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Admin</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form name="myForm" novalidate>
              <input
                class="input-element"
                type="email"
                id="email"
                name="email"
                ng-model="admin.email"
                required
                ng-pattern="emailRegex"
                placeholder="Enter email"
                style="width: 60%"
              />
              <br />
              <label ng-show="myForm.$submitted || myForm.email.$dirty">
                <label
                  ng-model="emailError1"
                  class="error"
                  ng-show="myForm.email.$error.required"
                  >Email is required</label
                >
                <label
                  ng-model="emailError2"
                  class="error"
                  ng-show="myForm.email.$error.pattern"
                  >Email is not valid</label
                >
              </label>
              <br />

              <input
                class="input-element"
                type="text"
                name="name"
                id="name"
                ng-model="admin.name"
                required
                placeholder="Enter user name"
                style="width: 60%"
              />
              <br />
              <label ng-show="myForm.$submitted || myForm.name.$dirty">
                <span
                  ng-model="nameError"
                  class="error"
                  ng-show="myForm.name.$error.required"
                  >Name is required</span
                ><br />
              </label>
              <br />

              <input
                class="input-element"
                type="text"
                name="firstName"
                id="firstName"
                ng-model="admin.firstName"
                required
                placeholder="Enter first name"
                style="width: 60%"
              />
              <br />
              <label ng-show="myForm.$submitted || myForm.firstName.$dirty">
                <span
                  ng-model="firstNameError"
                  class="error"
                  ng-show="myForm.firstName.$error.required"
                  >First Name is required</span
                ><br />
              </label>
              <br />

              <input
                class="input-element"
                type="text"
                name="lastName"
                id="lastName"
                ng-model="admin.lastName"
                required
                placeholder="Enter last name"
                style="width: 60%"
              />
              <br />
              <label ng-show="myForm.$submitted || myForm.lastName.$dirty">
                <span
                  ng-model="lastNameError"
                  class="error"
                  ng-show="myForm.lastName.$error.required"
                  >Last Name is required</span
                ><br />
              </label>
              <br />

              <input
                class="input-element"
                type="text"
                name="phoneNumber1"
                id="phoneNumber1"
                ng-model="admin.phoneNumber1"
                ng-minlength="10"
                ng-maxlength="10"
                required
                placeholder="Enter Phone Number"
                style="width: 60%"
              />
              <br />
              <label ng-show="myForm.$submitted || myForm.phoneNumber1.$dirty">
                <span
                  ng-model="phoneNumber1Error"
                  class="error"
                  ng-show="myForm.phoneNumber1.$error.required"
                  >Phone Number is required</span
                ><br />
              </label>
              <label
                ng-model="phoneNumber1Error"
                class="error"
                ng-show="((myForm.phoneNumber1.$error.minlength || myForm.phoneNumber1.$error.maxlength) && myForm.phoneNumber1.$dirty)"
                >Phone Number should be of 10 digits</label
              >
              <br />

              <input
                class="input-element"
                type="password"
                id="password"
                name="password"
                ng-model="admin.password"
                ng-pattern="passwordRegex"
                required
                placeholder="Enter passsword"
                style="width: 60%"
              />
              <br />
              <label ng-show="myForm.$submitted || myForm.password.$dirty">
                <span
                  ng-model="passsError1"
                  class="error"
                  ng-show="myForm.password.$error.required"
                  >Password is required</span
                ><br />
              </label>
              <br />

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <!-- <button
                  type="button"
                  class="btn btn-primary"
                  ng-disabled="myForm.$invalid"
                  ng-click="addBrandAdmin()"
                >
                  Submit
                </button> -->
                <button
                  type="button"
                  class="btn btn-primary"
                  ng-disabled="myForm.$invalid"
                  ng-show="submitString"
                  ng-click="addBrandAdmin()"
                >
                  Submit
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  ng-disabled="true"
                  ng-show="!submitString"
                  ng-click="addBrandAdmin()"
                >
                  Submitting
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- DETAILS MODAL -->
    <div
      class="modal fade"
      id="brandDetailsModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Brand Details</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="brand-modal-details-div">
              <div class="brand-modal-details-div-upper">
                <div class="brand-modal-details-div-upper-left">
                  <div class="brand-modal-details-div-upper-left-logo">
                    <img
                      class="photo-of-brand"
                      src="{{brandDetails.brandLogo}}"
                      alt="brand-logo"
                    />
                  </div>
                </div>
                <div class="brand-modal-details-div-upper-right">
                  <h6><strong>Name: </strong>{{brandDetails.name}}</h6>
                  <h6><strong>Id: </strong>{{brandDetails.brandId}}</h6>
                  <h6><strong>Email: </strong>{{brandDetails.email}}</h6>
                  <h6><strong>Category: </strong>{{brandDetails.category}}</h6>
                  <h6>
                    <strong>Phone Number: </strong>{{brandDetails.address}}
                  </h6>
                </div>
              </div>
              <div class="brand-modal-details-div-lower">
                <div class="brand-modal-details-div-lower-heading">
                  <!-- <h3>Admin Details</h3> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DESABLE BRANDS MODAL -->
    <div
      class="modal fade"
      id="disableModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{process}} brand
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <h5>
                Press confirm to {{process}} <strong>{{brandNameToD}}</strong>
              </h5>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              ng-click="disableBrand()"
            >
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- DELETE BRANDS MODAL -->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <h5>Press confirm to delete <strong>{{brandNameToD}}</strong></h5>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              ng-click="deleteBrand()"
            >
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
